{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    {% if patient %}
      <div class=patient-list>
        <a href="/new/">New Patient</a>
        <a href="/patients/">Patient List</a>
      </div>
      <ul class=patients>
        <li><h2>patient: {{ patient['patient_id'] }}</h2></li>
        <li>Gender: {{ patient['gender'] }}</li>
        <li>Xray: {{ patient['xray'] }}</li>
        <li>
          <ul class=patients>
            <li>Double Density: {{ patient['double_density'] }}</li>
            <li>Oblique Atrial Diameter: {{ patient['oblique_diameter'] }} cm </li>
            <li>Appendage Shape: {{ patient['appendage_shape'] }}</li>
            <li class="outcome">Xray Outcome: {{ patient['xray_outcome'] }} LAE</li>
          </ul>
        </li>
        <li>CT / MRI: {{ patient['ctmri'] }}</li>
        <li>Date &amp; Time: {{ patient['datetime'] }}</li>
      </ul>
    {% else %}
      <div class=patient-list>
        <a href="/patients/">Patient List</a>
      </div>
      <form action="{{ url_for('add_patient') }}" method=post class=add-patient>
        <ul class="patients">
          <li>
            <label for="patient_id">Patient ID:</label>
            <input type=text size=30 name=patient_id />
          </li>
          <li>
            <label for="gender">Gender:</label>
            <input type=text size=30 name=gender />
          </li>
          <li>
            <label for="xray">Xray:</label>
            <input type=text size=30 name=xray />
          </li>
          <li>
            <label for="double_density">Double Density:</label>
            <input type=text size=30 name=double_density />
          </li>
          <li>
            <label for="oblique_diameter">Oblique Atrial Diameter (cm):</label>
            <input type=text size=30 name=oblique_diameter />
          </li>
          <li>
            <label for="appendage_shape">Appendage Shape:</label>
            <input type=text size=30 name=appendage_shape />
          </li>
          <li>
            <input class="submit" type=submit value=Share />
          </li>
        </ul>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
