{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class='new-patient'>
      <a href={{ url_for('new_patient') }}>New Patient</a>
    </div>
    <h2 class=title><em>Patient ID:</em></h2>
    <ul class=patients>
    {% for patient in patients %}
      <li><h2>
        <a href={{ url_for('show_patient', patient_id=patient.patient_id) }}>
           {{ patient.patient_id }}</a>
      </h2></li>
    {% else %}
      <li><em>No patients listed here so far</em>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
